# Server
PORT=5001

# Database MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=cnailist_db

# JWT
JWT_SECRET=ganti_dengan_secret_key_yang_kuat_dan_panjang
JWT_EXPIRES_IN=7d

# Upload
UPLOAD_PATH=uploads
MAX_FILE_SIZE=5242880
